main {
    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    h1 {
        font-size: $font-xl;
    }

    p {
        text-align: center;
    }

    .top-container {
        padding: 2rem 0rem;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        background-color: $lightYellow;

        > p {
            padding: 0 25%;
            color: $darkBlue;
            font-weight: 500;
        }

        h1,
        h2,
        h3 {
            color: $darkBlue;
            margin: 1rem 0;
            padding: 0;
        }

        .button_top-container {
            padding: 0.875rem 3rem;
            background: linear-gradient(to right, $darkBlue, $lightCoral);
            border-radius: 50px;
            border: 1px solid $darkYellow;
            color: $lightYellow;
            cursor: pointer;
            font-weight: 500;
            transition: opacity 300ms ease-in-out;
            text-align: center;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    .hero-photo {
        background-image: url(./app/images/hero-photo.jpg);
        background-position: center;
        background-size: cover;
        height: 30rem;
        opacity: 0.9;
    }

    .activities {
        padding-top: 2rem;
        background-color: $lightYellow;
        flex-direction: column;
        flex-wrap: wrap;

        > p {
            padding: 0 25%;
            color: $darkBlue;
            font-weight: 500;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $darkBlue;
            padding-top: 1rem;
        }

        > h1 {
            font-size: $font-xl;
        }

        .activity-boxes {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .activity-box {
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                background-color: $darkBlue;
                padding: 2rem;
                margin: 3rem;
                border-radius: 1rem;

                h4 {
                    color: $lightYellow;
                    font-size: $font-lg;
                }

                > p {
                    color: $lightYellow;
                }
            }
        }
    }

    .good-deeds-box {
        font-size: $font-lg;
        padding: 2.5% 6.1%;
        background-color: $darkBlue;

        h2 {
            color: $darkBlue;
            padding: 2rem 0;
        }

        p {
            color: $lightYellow;
            padding: 0 30%;
        }

        > div {
            align-items: center;
            flex-direction: column;
            padding: 3rem;
            background-color: $lightCoral;
            border-radius: 1rem;
        }
    }

    .numbers {
        padding-top: 2rem;
        background-color: $lightYellow;
        flex-direction: column;
        flex-wrap: wrap;

        > p {
            padding: 0 25%;
            color: $darkBlue;
            font-weight: 500;
        }

        h1,
        h2,
        h3,
        h4 {
            color: $darkBlue;
            padding-top: 1rem;
        }

        > h1 {
            font-size: $font-xl;
        }

        .numbers-boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;

            > h1,
            > h2 {
                font-size: $font-xl;
            }

            .numbers-box {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center; 
                background-color: $darkBlue;
                padding: 2rem;
                margin: 2rem 0.7rem;
                border-radius: 50%;
                min-width: 20rem;
                max-width: 20rem;
                min-height: 20rem;
                max-height: 20rem;

                h4 {
                    color: $lightYellow;
                    font-size: $font-lg;
                }

                > p {
                    color: $lightYellow;
                }
            }
        }
    }

    .numbers-photo {
        background-image: url(./app/images/numbers-photo.jpg);
        background-position: center;
        background-size: cover;
        height: 34rem;
        opacity: 0.9;
    }

    .blog-index {
        padding-top: 2rem;
        background-color: $lightYellow;
        flex-direction: column;
        flex-wrap: wrap;

        > p {
            padding: 0 25%;
            color: $darkBlue;
            font-weight: 500;
        }

        h1 {
            font-size: $font-xl;
            color: $darkBlue;
        }

        h4 {
            padding-top: 1rem;
            font-size: $font-xl;
            color: $lightYellow;
        }

        .blog-boxes {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .blog-box-card {
                background-color: $darkBlue;
                color: $lightYellow;
                padding: 2rem 0 0;
                margin: 2rem;
                border-radius: 1rem;
    
                .blog-box-card-content {
                    --padding: 1.5rem;
                    padding: var(--padding);

                    >p {
                        text-align: left;
                        margin: 2rem 0;
                    }

                    >h4 {
                        text-align: left;
                    }

                    .blog-box-card-title {
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            height: 4px;
                            left: calc(var(--padding) * -1);
                            bottom: 0;
                            width: calc(100% + var(--padding));
                            background: $lightCoral;
                        }
                    }
                }
            }
        }
    }
}