main {
    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    h1 {
        font-size: $font-xl;
    }

    p {
        text-align: center;
    }

    .top-container {
        flex-direction: column;
        flex-wrap: wrap;
        height: 22rem;
        background-color: $lightYellow;

        > p {
            padding: 0 16.8rem;
            color: $darkBlue;
            font-weight: 700;
        }

        h1,
        h2,
        h3 {
            color: $darkBlue;
            margin: 1rem 0;
            padding: 0;
        }

        .button_top-container {
            padding: 0.875rem 3rem;
            background: linear-gradient(to right, $darkBlue, $lightCoral);
            border-radius: 50px;
            border: 1px solid $white;
            color: $white;
            cursor: pointer;
            font-weight: 500;
            transition: opacity 300ms ease-in-out;
            text-align: center;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    .hero-photo {
        background-image: url(/app/images/hero-photo.jpg);
        background-position: center;
        background-size: cover;
        height: 30rem;
        opacity: 0.9;
    }

    .activities {
        background-color: $lightYellow;
        flex-direction: column;
        flex-wrap: wrap;

        h1,
        h2,
        h3,
        h4 {
            color: $darkBlue;
            padding-top: 1rem;
        }

        .activity-boxes {
            display: grid;
            // gap: 4rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .activity-box {
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                background-color: $darkBlue;
                padding: 2rem;
                margin: 3rem;
                border-radius: 1rem;

                h4 {
                    color: $lightYellow;
                }
            }
        }
    }
}