//Colors
$lightestYellow: #fbe79d;
$lightYellow: #f8d75b;
$yellow: #F6CB2A;
$darkYellow: #f5c512;
$lightBlue: #5b7cf8;
$lightCoral: #f85b7c;
$darkBlue: #14213D;
$white:#FFFFFF;
$black: #000000;
$darkGrey: #e6e6e6;
$platinum: #fcfcfc;
$whiteFooter: #FFFFFF;
$blackFooter: red;

//Font Sizes
$font-xl: 2.25rem;
$font-lg: 1.75rem;
$font-med: 1.125rem;
$font-sm: 0.875rem;
