.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 500ms ease-in-out forwards;
          animation: fade-out 500ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.3;
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: #000000;
  background-color: #FFFFFF;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#f8d75b), to(#F6CB2A));
  background: linear-gradient(to right, #f8d75b, #F6CB2A);
  border-radius: 50px;
  border: 2px solid #14213D;
  color: #14213D;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  text-align: center;
}

button:hover, .button:hover {
  opacity: 0.75;
}

.gotopbtn {
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.box {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.box:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 5rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F6CB2A), to(transparent));
  background-image: linear-gradient(#F6CB2A, transparent);
}

.header nav {
  position: relative;
  background-color: #e6e6e6;
  font-weight: 500;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #F6CB2A;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  background: #000000;
  margin-top: 1.56rem;
  padding: 1.625rem;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu a {
  display: block;
  color: #F6CB2A;
  padding: 0.625rem;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #000000;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -33px;
  background: -webkit-gradient(linear, left top, right top, from(#F6CB2A), to(#f8d75b));
  background: linear-gradient(to right, #F6CB2A, #f8d75b);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #14213D;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  font-size: 1.125rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.75;
}

.header__logo {
  padding-right: 3.6875rem;
}

main h1,
main h2,
main h3,
main h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main h1 {
  font-size: 2.25rem;
}

main p {
  text-align: center;
}

main .top-container {
  padding: 2rem 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  background-color: #fcfcfc;
}

main .top-container > p {
  padding: 0 25%;
  color: #14213D;
  font-weight: 500;
}

main .top-container h1,
main .top-container h2,
main .top-container h3 {
  color: #14213D;
  margin: 1rem 0;
  padding: 0;
}

main .top-container .button_top-container {
  padding: 0.875rem 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#f8d75b), to(#F6CB2A));
  background: linear-gradient(to right, #f8d75b, #F6CB2A);
  border-radius: 50px;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  text-align: center;
}

main .top-container .button_top-container:hover {
  opacity: 0.75;
}

main .hero-photo {
  background-image: url(./app/images/hero-photo.jpg);
  background-position: center;
  background-size: cover;
  height: 30rem;
  opacity: 0.9;
}

main .activities {
  padding-top: 2rem;
  background-color: #e6e6e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .activities > p {
  padding: 0 25%;
  color: #14213D;
  font-weight: 500;
}

main .activities h1,
main .activities h2,
main .activities h3,
main .activities h4 {
  color: #14213D;
  padding-top: 1rem;
}

main .activities > h1 {
  font-size: 2.25rem;
}

main .activities .activity-boxes {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main .activities .activity-boxes .activity-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 3rem;
  border-radius: 1rem;
}

main .activities .activity-boxes .activity-box h4 {
  color: #14213D;
  font-size: 1.75rem;
}

main .activities .activity-boxes .activity-box > p {
  color: #14213D;
}

main .good-deeds-box {
  font-size: 1.75rem;
  padding: 2.5% 6.1%;
  background-color: #FFFFFF;
}

main .good-deeds-box h2 {
  color: #14213D;
  padding: 2rem 0;
}

main .good-deeds-box p {
  color: #14213D;
  padding: 0 30%;
}

main .good-deeds-box > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}

main .numbers {
  padding-top: 2rem;
  background-color: #f8d75b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .numbers > p {
  padding: 0 25%;
  color: #14213D;
  font-weight: 500;
}

main .numbers h1,
main .numbers h2,
main .numbers h3,
main .numbers h4 {
  color: #14213D;
  padding-top: 1rem;
}

main .numbers > h1 {
  font-size: 2.25rem;
}

main .numbers .numbers-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .numbers .numbers-boxes > h1,
main .numbers .numbers-boxes > h2 {
  font-size: 2.25rem;
}

main .numbers .numbers-boxes .numbers-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14213D;
  padding: 2rem;
  margin: 2rem 0.7rem;
  border-radius: 50%;
  min-width: 20rem;
  max-width: 20rem;
  min-height: 20rem;
  max-height: 20rem;
}

main .numbers .numbers-boxes .numbers-box h4 {
  color: #f8d75b;
  font-size: 1.75rem;
}

main .numbers .numbers-boxes .numbers-box > p {
  color: #f8d75b;
}

main .numbers-photo {
  background-image: url(./app/images/numbers-photo.jpg);
  background-position: center;
  background-size: cover;
  height: 34rem;
  opacity: 0.9;
}

main .blog-index {
  padding-top: 2rem;
  background-color: #f8d75b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .blog-index > p {
  padding: 0 25%;
  color: #14213D;
  font-weight: 500;
}

main .blog-index h1 {
  font-size: 2.25rem;
  color: #14213D;
}

main .blog-index h4 {
  padding-top: 1rem;
  font-size: 2.25rem;
  color: #f8d75b;
}

main .blog-index .blog-boxes {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main .blog-index .blog-boxes .blog-box-card {
  background-color: #14213D;
  color: #f8d75b;
  padding: 2rem 0 0;
  margin: 2rem;
  border-radius: 1rem;
}

main .blog-index .blog-boxes .blog-box-card .blog-box-card-content {
  --padding: 1.5rem;
  padding: var(--padding);
}

main .blog-index .blog-boxes .blog-box-card .blog-box-card-content > p {
  text-align: left;
  margin: 2rem 0;
}

main .blog-index .blog-boxes .blog-box-card .blog-box-card-content > h4 {
  text-align: left;
}

main .blog-index .blog-boxes .blog-box-card .blog-box-card-content .blog-box-card-title {
  position: relative;
}

main .blog-index .blog-boxes .blog-box-card .blog-box-card-content .blog-box-card-title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: #f85b7c;
}

footer {
  background-color: red;
  color: #FFFFFF;
}

footer .footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid #FFFFFF;
}

footer .footer-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
}

footer .shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .shortcuts a {
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 0.2rem;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

footer .shortcuts a:hover {
  opacity: 0.5;
}

footer .links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .links a {
  padding: 1rem 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

footer .links a:hover {
  opacity: 0.5;
}

footer > p {
  padding: 1rem;
  margin: 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */